@page "{RestaurantId:int?}"
@model OdeToFood.Pages.Restaurants.EditModel
@{
}


<form method="post">
    <input type="hidden" asp-for="Restaurant.Id" />
  <div class="form-group">
    <label asp-for="Restaurant.Name">Name</label>
    <input type="text" class="form-control" asp-for="Restaurant.Name">
    <span class="text-danger" asp-validation-for="Restaurant.Name"></span>
  </div>
  <div class="form-group">
    <label asp-for="Restaurant.Location">Location</label>
    <input type="text" class="form-control"   asp-for="Restaurant.Location">
    <span class="text-danger" asp-validation-for="Restaurant.Location"></span>

  </div>
  <div class="form-group">
    <label asp-for="Restaurant.Cuisine">Cuisine</label>
    <select class="form-control" asp-for="Restaurant.Cuisine" asp-items="Model.Cuisines" >
    <span class="text-danger" asp-validation-for="Restaurant.Cuisine"></span>

    </select>    

  </div>
  <button type="submit" class="btn btn-primary">Save</button>


</form>
  @if (TempData["commit"]!=null)
    {
    <div class="alert alert-info">@TempData["commit"]</div>
    }
<a class="btn btn-primary" asp-page="./List">All Restaurants</a>
